In [5]:
print ('Hello World')

Hello World

In [21]:
print ('Hello World')
print ('Welcome!!!')
print ('Good Bye')

Hello World
Welcome!!!
Good Bye

In [25]:
num1 = 45
num2 = 55
add = num1 + num2
print (add)

100

In [33]:
type(num1)
num2 = 55.3
type(num2)

float

In [37]:
name = 'Shweta'
type(name)

str

In [43]:
num1, num2, num3 = 67,45.2, 56.0
print('num is',num1,num2,num3)

num is 67 45.2 56.0

In [49]:
num1 = num2 = num3 = 67
print(num2)

67

In [57]:
name = 'Shweta'
marks = 67.83
print('My name is: ',name, 'I got:',marks, 'Marks')

My name is:  Shweta I got: 67.83 Marks

In [71]:
print('My name is %s and marks are: %.2f' %(name,marks))
# %.2 f will truncate decimal to two digits after decimal

My name is Shweta and marks are: 67.83

In [73]:
print('My name is %s and marks are: %i' %(name,marks)) #integer value of marks %i possible

My name is Shweta and marks are: 67

In [81]:
num1 = 45; num2 = 55; add = num1 + num2; print(add)

100

#### Operators

In [94]:
##### Arithmetic Operations

num1 = 50; num2 = 6
add = num1 + num2 # Addtion Operation
print(add)
sub = num1 - num2 # Subtraction
print(sub)
mult = num1 * num2 # Multiplication
print(mult)
Division = num1 /num2 # Division
FDivision = num1 // num2 # Floor Division
MDivision = num1 % num2 # Modulo Division
Power = num1 ** num2 # Power of

print (Division)
print (FDivision)
print (MDivision)
print (Power)

56
44
300
8.333333333333334
8
2
15625000000

In [114]:
##### Assignment Operators
num1 = 32; num1 += 32
print(num1)
num1 = 32; num1 -= 2
print(num1)
num1 = 32; num1 *= 2
print(num1)
num1 = 32; num1 /= 32
print(num1)
num1 = 32; num1 //= 32
print(num1)

64
30
64
1.0
1

In [118]:
#### Relational Operators
num1 = 67
num2 = 19
print('Greater Than', num1 > num2)
print('Greater Than / Equal', num1 >= num2)
print('Less Than', num1 < num2)
print('Less Than / Equal', num1 <= num2)
print('Equal', num1 == num2)
print('Not Equal', num1 != num2)

Greater Than True
Greater Than / Equal True
Less Than False
Less Than / Equal False
Equal False
Not Equal True

In [126]:
###### Logical Operators

num1 = 67
num2 = 19
print('AND:', (num1 > num2) and (num1 < 100))
print('OR:', (num1 > num2) or (num1 > 100))

AND: True
OR: True

In [134]:
# Membership selection
name = 'Shweta'
'b' in name
'a' in name

True

In [140]:
x = [5,4,2,5,6,7] #List
9 in x
7 in x

True

In [144]:
x = [5,4,2,'Pune',5,6,7] # any variable data type
'Pune' in x

True

In [188]:
Centigrade = float (input("Enter the value of temperature in Centigrade"))
Fahren= (Centigrade*9/5)+32; print('Temp in F is :%.2f', Fahren)

Enter the value of temperature in Centigrade 98.4

Temp in F is :%.2f 209.12